In [ ]:
##~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Chapter 1

In [ ]:
#Exercise 1
##Print ('Hello World!')          #The P in print is in capital (P)
#print 'Hello World!')           #There is no open parenthesis (()
#print ('Hello World!)           #It lacks another apostrophe  (')
#print ('Hello World!'')         #There are two apostrophe     ('')


#Fixed
print ('Hello World!')
print ('Hello World!')
print ('Hello World!')
print ('Hello World!')

Hello World!
Hello World!
Hello World!
Hello World!

In [ ]:
#Exercise 2
x=43
x= x+1
print(x)

#44

44

In [ ]:
#Exercise 3
x = 43
x = x + 1
print(x)

#The error was the 'X',it was in capital letter and variable X is undefined

44

In [ ]:
##~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Chapter 2

In [ ]:
#Exercise 1
name =input ('Enter your name: ')
print('Hello',name)

Enter your name: Shenah Gayonoche
Hello Shenah Gayonoche

In [ ]:
#Exercise 2
hours=input('Enter hours: ')
hrs=float(hours)
rate=input('Enter Rate: ')
rt=float(rate)
total=hrs*rt

print ('Pay:', total)

Enter hours: 40
Enter Rate: 10
Pay: 400.0

In [ ]:
#Exercise 3
width//2:     Value: 8    Type: int
width/2.0:    Value: 8.5  Type: float
height/3:     Value: 4.0  Type: float
1 + 2 * 5:    Value: 11   Type: int

SyntaxError: illegal target for annotation (<ipython-input-5-ab9746117c70>, line 2)

In [ ]:
#Exercise 4
num=input('Enter a number: ')
n=int(num)
sqr=n**2
print('The square of', num,'is',sqr)

In [ ]:
#Challenge

print('Convert Celsius to Fahrenheit')
inp=input('Enter Temperature (c): ')
temp=int(inp)
temperature=(temp*1.8)+32
print('Temperature in Fahrenheit: ',temperature)

In [ ]:
##~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Chapter 3

In [ ]:
#Exercise 1
if x > 50:
    print('Above 50')
elif x > 20:
    print('Above 20')
elif x > 10:
    print('Above 10')
elif x > 0:
    print('Above 0')
else:
    print('Something else')

Above 0

In [ ]:
#Exercise 2
hours = float(input("Enter Hours: "))
rate = float(input("Enter Rate: "))

if hours >= 40:
    pay = hours * rate
else:
    regular_pay = 40 * rate
    overtime_hours = hours - 40
    overtime_pay = overtime_hours * (rate * 1.5)
    pay = regular_pay + overtime_pay

print("Pay:", pay)

Enter Hours: 40
Enter Rate: 10
Pay: 400.0

In [ ]:
#Challenge

score = float(input("Enter the score between 0 and 100: "))
if score >= 97:
    grade = 1.0
elif score >= 93:
    grade = 1.25
elif score >= 89:
    grade = 1.5
elif score >= 85:
    grade = 1.75
elif score >= 81:
    grade = 2.0
elif score >= 77:
    grade = 2.25
elif score >= 74:
    grade = 2.5
else:
    grade = 3.0
print("Grade:", grade)

Enter the score between 0 and 100: 97
Grade: 1.0

In [ ]:
##~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Chapter 4

In [ ]:
#Exercise 1
hours = float(input("Enter Hours: "))
rate = float(input("Enter Rate: "))

if hours >= 40:

    regular_pay = 40 * rate
    overtime_hours = hours - 40
    overtime_pay = overtime_hours * (rate * 1.5)
    pay = regular_pay + overtime_pay
else:
    pay = hours * rate

print("Pay:", pay)

Enter Hours: 45
Enter Rate: 10
Pay: 475.0

In [ ]:
#Challenge
def computegrade(score):
    if score >= 97:
        return '1.0'
    elif score >= 93:
        return '1.25'
    elif score >= 89:
        return '1.5'
    elif score >= 85:
        return '1.75'
    elif score >= 81:
        return '2.0'
    elif score >= 77:
        return '2.25'
    elif score >= 74:
        return '2.5'
    else:
        return '3.0'

# Example usage:
scr = input("Enter the score: ")
score =float(scr)
grade = computegrade(score)
print("Grade:", grade)

Enter the score: 70
Grade: 3.0

In [ ]:
##~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Chapter 5

In [ ]:
#Exercise 1
a=2
b=2.0
c==a

#the = gives value to the variable, while == compares if variable c and a have equal values

In [ ]:
##~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Challenge

In [ ]:
#Challenge 1
total = 0
count = 0

while True:
    num = input("Enter a number: ")

    if num == 'done':
        break

    try:
        number = float(num)
        total += number
        count += 1
    except ValueError:
        print("Invalid input")

if count > 0:
    average = total / count
    print("Total:", total)
    print("Count:", count)
    print("Average:", average)
else:
    print("No numbers entered.")

Enter a number: 4
Enter a number: 5
Enter a number: 7
Enter a number: done
Total: 16.0
Count: 3
Average: 5.333333333333333

In [ ]:
#Challenge 2
minimum = None
maximum = None

while True:
    num = input("Enter a number: ")

    if num == 'done':
        break

    try:
        number = float(num)
        if minimum is None or number < minimum:
            minimum = number
        if maximum is None or number > maximum:
            maximum = number
    except ValueError:
        print("Invalid input")

if minimum is not None and maximum is not None:
    print("Minimum:", minimum)
    print("Maximum:", maximum)
else:
    print("No valid numbers entered.")

Enter a number: 9
Enter a number: 100
Enter a number: 2
Enter a number: 0
Enter a number: bad data
Invalid input
Enter a number: done
Minimum: 0.0
Maximum: 100.0