In [ ]:
##~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Chapter 6

In [4]:
#Exercise 1
text = 'Business Analytics'

print (text[4])
print (text[2:4])
print (text[:4])
print (text[4:])
print (text[-2])
print (text[-4:-2])
print (text[-2:])
print (text[:-2])

#Output
n
si
Busi
ness Analytics
c
ti
cs
Business Analyti

n
si
Busi
ness Analytics
c
ti
cs
Business Analyti

In [1]:
#Exercise 2
phrase = 'One Ring to rule them all'

print (phrase[0:4])
print (phrase[4:8])
print (phrase[-3:])
print (phrase[-8:-4])
print (phrase)

One
Ring
all
them
One Ring to rule them all

In [ ]:
# CHALLENGE
while True:
    name = input('Enter full name: ')
    formatted_name = name.strip().title()
    print(formatted_name)

    if name.lower() == 'exit':
        print("Exiting...")
        break

Enter full name: shenah gayonoche
Shenah Gayonoche
Enter full name: bachelor of science in computer science
Bachelor Of Science In Computer Science